.header {
    display: inline-block;
    width: 100%;
    background-color: #5D5D81;
    color: #F8F4E3;
    padding: 10px;
}

.header__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.header__title {
    font-weight: normal;
    font-size: 1.4rem;
}

.menu__list {
    display: inline-block;
}
