.btn, button {
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    background-color: #EC4E20;
    color: #F8F4E3;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    cursor: pointer;
}
