* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
}

input {
  display: block;
  width: 95%;
  line-height: 2rem;
  border-radius: 4px;
  padding: 5px;
  font-size: 1rem;
  margin: 10px 0 0 0;
}

label {
  display: block;
  margin: 10px 0 10px 10px;
}

.footer__copyrights {
  padding: 10px;
  background-color: #3B3355;
  color: #BFCDE0;
  text-align: center;
}

.header {
  display: inline-block;
  width: 100%;
  background-color: #5D5D81;
  color: #F8F4E3;
  padding: 10px;
}

.header__button, .search__button {
  border: none;
  border-radius: 3px;
  background-color: #EC4E20;
  color: #F8F4E3;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.header__button {
  margin-right: 100px;
}

.header__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.header__title {
  font-weight: normal;
  font-size: 1.4rem;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: calc(100vh - 135px);
}

.map {
  width: 75%;
  background-color: #F8F4E3;
}

.menu__list {
  display: inline-block;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.search {
  width: 25%;
}

.search__button {
  display: block;
  margin: 10px auto;
}

.search__title, .weather-info__title {
  font-size: 1.2rem;
  margin: 5px
}
